{% extends "base.html" %}

{% block content %}
{% load custom_filters %}
	<style>
		.car-card {
			background-color: #0e1014b0;
			box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
			border-radius: 20px;
			overflow: hidden;
			text-align: center;
			transition: all 0.3s ease;
			width: 80%;
			min-width: 450px;
			max-width: 700px;
			margin: 25px auto 0;
			padding-bottom: 8px;
		}

		.car-card:hover {
			cursor: pointer;
			box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
			transform: translateY(-2px);
		}

		.car-card img {
			width: 100%;
			height: 500px;
			object-fit: cover;
		}
	</style>
	<div class="car-card">
			<img src="{{ object.photo.url }}" alt="{{ object.model }} - {{ object.brand }}">
			<h1>{{ object.brand }} {{ object.model }}</h1>
			<p><strong>Ano de fabricação:</strong> {{ object.factory_year }}</p>
			<p><strong>Ano do modelo:</strong> {{ object.model_year }}</p>
			<p><strong>Placa:</strong> {{ object.plate }}</p>
			<p><strong>Preço:</strong> R$ {{ object.value|format_currency_locale }}</p>
	</div>
	{% if user.is_authenticated %}
		<div class="buttons-container">
			<a class="btn btn-primary" href="{% url 'car_update' pk=object.pk %}">Editar</a>
			<a class="btn btn-secondary" href="{% url 'car_delete' pk=object.pk %}">Apagar Carro</a>
		</div>
	{% endif %}
{% endblock %}