{% extends "base.html" %}

{% block content %}
{% load custom_filters %}
	<style>
		.initial-info {
			margin: 48px 0 24px 0;
		}

		.car-grid {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			gap: 30px;
			margin: 0 auto;
			padding: 0 0 20px 0;
		}

		@media (max-width: 1700px) {
			.car-grid {
				grid-template-columns: repeat(3, 1fr);
			}
		}

		@media (max-width: 1220px) {
			.car-grid {
				grid-template-columns: repeat(2, 1fr);
			}
		}

		@media (max-width: 770px) {
			.car-grid {
				grid-template-columns: repeat(1, 1fr);
			}
		}

		.car-card {
			background-color: #0e1014b0;
			box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
			border-radius: 20px;
			overflow: hidden;
			text-align: center;
			transition: all 0.3s ease;
			padding: 5px;
			height: 380px;
		}

		.car-card:hover {
			cursor: pointer;
			box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
			transform: translateY(-15px);
		}

		.car-card img {
			border-radius: 10px;
			width: 100%;
			height: 75%;
			object-fit: cover;
		}

		.car-info h2 {
			padding: 0;
			margin: 12px;
			font-size: 1.5rem;
		}

		.car-info p {
			font-size: 1rem;
		}

		form {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-bottom: 20px;
			text-align: center;
			padding: 30px 0;
		}

		.form-group {
			width: 100%;
			margin-bottom: 20px;
			margin-right: 20px;
		}

		input {
			text-indent: 8px;
		}
		
		select, input {
			width: 100%;
		}

		form button {
			margin-bottom: 2px;
		}

		form button::before {
			content: '\f002';
			font-family: 'FontAwesome';
			margin-right: 10px;
		}
		
		.select-container {
			position: relative;
			display: inline-block;
			width: 100%;
		}

		.select-container select {
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			padding-left: 15px;
		}

		.select-container::after {
			content: '\f0d7';
			font-family: 'FontAwesome';
			position: absolute;
			right: 10px;
			top: 50%;
			transform: translateY(-50%);
			pointer-events: none;
			color: #999;
			padding-right: 5px;
		}
		
		label {
			display: block;
			margin-bottom: 5px;
		}

		a {
			text-decoration: none;
			color: inherit;
		}
	</style>
	<div class="container">
		<div class="initial-info">
			<h2>Conheça os <span class="text-primary">carros</span> disponíveis</h2>
			<p>Lista com todos os carros, tendo seu nome, ano e valor. Clique em cada carro para ver seus detalhes únicos e exclusivos!</p>
		</div>
		<form method="GET" action="{% url 'cars_list' %}">
			<div class="form-group">
				<label for="search_brand">Marca:</label>
				<div class="select-container">
					<select name="search_brand" id="search_brand">
						<option value="">Todas as Marcas</option>
						{% for brand in brands %}
							<option value="{{ brand.name }}" {% if request.GET.search_brand == brand.name %}selected{% endif %}>
								{{ brand.name }}
							</option>
						{% endfor %}
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="search_model">Carro:</label>
				<input type="text" name="search_model" placeholder="Buscar carro..." value="{{ request.GET.search_model }}">
			</div>
			<button type="submit" style="margin-left: 0;">Buscar</button>
		</form>

		<div class="car-grid">
			{% if cars %}
				{% for car in cars %}
					<div class="car-card">
						<a href="{% url 'car_detail' car.pk %}">
							<img src="{{ car.photo.url }}" alt="{{ car.model }} - {{ car.brand }}">
							<div class="car-info">
								<h2>{{ car.brand }} {{ car.model }}</h2>
								<p>R$ {{ car.value|format_currency_locale }}</p>
							</div>
						</a>
					</div>
				{% endfor %}
			{% else %}
				<p class="no-results">Nenhum carro encontrado.</p>
			{% endif %}
		</div>
	</div>
{% endblock %}